<div class='phone_consultation_partial'>

  <% u = User.find_by_id(task.target_id) %>
  Call <%= u.login %> for an initial consultation.

  <%= link_to 'Finished', :controller => 'simple_workflow_tasks', :action => 'complete_phone_consultation', :id => task.id %> 

</div>
