<html>

<head>
<title>Veritas Tutoring</title>
</head>

<% if logged_in? %>
  <%= render :partial => "sessions/top_bar_logged_in" %>
<% else %>
  <%= render :partial => "sessions/top_bar_logged_out" %>
<% end %>
  
<body>
<%= yield %>
</body>

</html>