<html>

<head>
<title>Veritas Tutoring</title>
</head>

<body>
<div id="top_bar">
<% if logged_in? %>
  <%= render :partial => "misc/top_bar_logged_in" %>
<% else %>
  <%= render :partial => "misc/top_bar_logged_out" %>
<% end %>
</div>


<div id="main_body">
<%= yield %>
</div>

</body>

</html>